DEPLOYMENT_URL=https://fabianritzmann.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/my-dso-blog/
GITHUB_ORG=FabianRitzmann
GITHUB_PROJECT=my-dso-blog
GIT_REPOSITORY_URL=https://github.com/FabianRitzmann/my-dso-blog